# Virtual Environment
venv/

# Python cache
__pycache__/

# VSCode settings
.vscode/

# Databases
*.db

# Secret keys
*.json
service-account-key.json
# Secret API keys
.env

# Ignore executables and libraries
*.exe
*.dll

# BUT, do NOT ignore ngrok.exe
!ngrok.exe